:root {
    --black: #000000;
    --darkblack: #191414;
    --lightblack: #282a36;
    --pitchgray: #23272a;
    --darkgray: #2c2f33;
    --midgray: #44475a;
    --darkslategray: #528b8b;
    --midslategray: #79cdcd;
    --slategray: #8deeee;
    --lightslategray: #97ffff;
    --gray: #99aab5;
    --lightgray:#dddddd;
    --pitchblue: #1c0f45;
    --darkblue: #00008b;
    --navyblue: #000080;
    --midnightblue: #191970;
    --midblue: #0000cd;
    --darkslateblue: #483d8b;
    --pitchslateblue: #473c8b;
    --midslateblue: #6959cd;
    --slateblue: #7a67ee;
    --lightslateblue: #836fff;
    --pitchroyalblue: #27408b;
    --darkroyalblue: #3a5fcd;
    --midroyalblue: #436eee;
    --royalblue: #4169e1;
    --lightroyalblue: #4876ff;
    --pitchsteelblue: #36648b;
    --darksteelblue: #4f94cd;
    --midsteelblue: #5cacee;
    --steelblue: #4682b4;
    --lightsteelblue: #63b8ff;
    --darkdodgerblue: #104e8b;
    --middodgerblue: #1874cd;
    --dodgerblue: #1c86ee;
    --lightdodgerblue: #1e90ff;
    --moderatecarulean: #087EB0;
    --cornflowerblue: #6495ed;
    --powderblue: #b0e0e6;
    --alicablue: #f0f8ff;
    --darkdeepskyblue: #00688b;
    --middeepskyblue: #009acd;
    --deepskyblue: #00b2ee;
    --lightdeepskyblue: #00bfff;
    --pitchskyblue: #4a708b;
    --darkskyblue: #6ca6cd;
    --midskyblue: #7ec0ee;
    --skyblue: #87ceeb;
    --lightskyblue: #87ceff;
    --lightblue: #add8e6;
    --vividcyan: #1b8bb4;
    --lightcyan: #d1eeee;
    --cadetblue: #98f5ff;
    --paleturquise: #afeeee;
    --midturquoise: #48d1cc;
    --darkturqoise: #00ced1;
    --turqoise: #00f5ff;
    --cyan: #00eeee;
    --darkcyan: #008b8b;
    --blurple: #5865F2;
    --lightblurple: #7289da;
    --darkcerulean: #1c6071;
    --darkseagreen: #2e8b57;
    --seagreen: #54ff9f;
    --pealegreen: #90ee90;
    --springgreen: #00ff7f;
    --darkspringgreen: #008b45;
    --onlinegreen: #57F287;
    --pastelgreen: #50fa7b;
    --nutgreen: #97c379;
    --green: #00ff00;
    --pitchgreen: #006400;
    --forestgreen: #228b22;
    --greenyellow: #adff2f;
    --khaki: #fff68f;
    --yellow: #ffff00;
    --pastelyellow: #f1ed62;
    --gold: #ffd700;
    --brilliantyellow: #ffe413;
    --orange: #ffc000;
    --lightyellow: #FEE75C;
    --pealeyellow: #f1fa8c;
    --lightorange: #E5C07B;
    --birlliantorange: #ee7e15;
    --darkorange: #ff7f00;
    --sienna: #ff8247;
    --rosybrown: #bc8f8f;
    --indianred: #cd5c5c;
    --darkindianred: #8b3a3a;
    --burlywood: #deb887;
    --chocolate: #8b4513;
    --firebirck: #b22222;
    --dndred: #ED4245;
    --pastelred: #ff5555;
    --brownred: #a52a2a;
    --salmon: #fa8072;
    --lightsalmon: #ffa07a;
    --lightcoral: #f08080;
    --coral: #ee6a50;
    --tomato: #ee5c42;
    --red: #ff0000;
    --apple: #a40000;
    --darkred: #8b0000;
    --rouge: #c60000;
    --crimson: #dc143c;
    --pink: #ff1493;
    --hotpink: #ff69b4;
    --lightpink: #ffb6c1;
    --maroon: #800000;
    --richmaroon: #b03060;
    --violetred: #d02090;
    --magenta: #ee00ee;
    --darkmagenta: #8b008b;
    --orchid: #da70d6;
    --plum: #dda0dd;
    --perfume: #BDAAF9;
    --midorchid: #ba55d3;
    --midvioletred: #c71585;
    --darkviolet: #9400d3;
    --violet: #ee82ee;
    --fuchsia: #EB459E;
    --powderpink: #ff79c6;
    --purple: #a020f0;
    --darkpurple: #551a8b;
    --thistle: #d8bfd8;
    --onepurple: #C678DD;
    --antiquegold: #ddc488;
    --cream:#ffde66;
    --agedpaper: #ecab53;
    --silver: #c0c0c0;
    --teal: #008080;
    --blush: #ffcc99;
    --white: #FFFFFF;
    --brokenwhite: #f2f2f2;
    ---ghostwhite: #f8f8ff;
    --whitesmoke: #f5f5f5;
    --gainsboro: #dcdcdc;
}
